.apps__header {
    padding: 30px 20px !important;
}

.apps__brand, .apps__search_bar, .apps__settings_icon {
    height: 100%;
}

.apps__brand {
    padding-top: 8px !important;
}

.apps__settings_icon {
    padding-top: 10px;
    /* margin-left: 30px !important; */
    font-size: 1.6rem !important;
    cursor: pointer;
}

.apps__app_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 5%;
}

.apps__app_card {
    width: 10% !important;
    margin: 10px !important;
}

@media (max-width: 600px) {
    .apps__app_card {
        width: 40% !important;
    }
}